#headerLogo {
    padding: 0px;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

#imageLogo{
    padding: 0rem 0rem 0rem 1rem;
}

#imageUser{
    padding: 0.2rem 0rem 0.2rem 1rem;
}

#headerMenu {
    padding: 0rem 0rem 0rem 1rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

* {
    font-size: 1.25rem;
}

@media (min-width: 576px) {
    .navbar-expand-sm .navbar-nav .nav-link {
        padding-left: 0rem;
        padding-right: 2rem;
    }
}

#navbarDropdown2{
    padding-right: 1rem;
}

.ml-auto, .mx-auto {
    margin-left: 0 !important;
}