
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 0px">
    <img src="//placehold.it/200x100?text=Logo" class="img-responsive" style="padding-left: 8px">
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 0px">
    <!-- <a class="navbar-brand" href="">Main</a> -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/rates">Rates</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/calculator">Calculator</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/alerts">Alerts</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/playground">Playground</a>
            </li>
        </ul>
    </div>
</nav>