<footer>
    <div class="card-footer text-center">
        <div class="row">
            <div class="col-sm-6" style="text-align: left;">
                &middot;
                <a routerLink="/regulation">Regulamin</a>
                &middot;
                <a routerLink="/about-us">O nas</a>
                &middot;
                <a routerLink="/help">Pomoc</a>
            </div>
            <div class="col-sm-6" style="text-align: right;">© 2019 Copyright 
                <a href="https://github.com/">Marta Fiedorowicz</a></div>
        </div>
    </div>
</footer>