<h3>Kursy walut</h3>

<br>

<div id="currenciesDropdown">
    <p>1</p>
    <ng-select [items]="listOfCurrencies" [(ngModel)]="selectedCurrency" [clearable]="false" bindLabel="name"
               groupBy="groupCode" (change)="onSelectedCurrencyChange($event)">
        <ng-template ng-notfound-tmp let-searchTerm="searchTerm">
            <div class="ng-option disabled">
                No data found for "{{searchTerm}}"
            </div>
        </ng-template>
    </ng-select>
    <p>kupisz za</p>
    <p> {{ newestRate | number : '1.2-2' }}</p>
    <p>PLN</p>
</div>

<br>

<div class="flex">

    <div class="flex-item">
        <div style="display: block; height: 50vh" id="ratesChart">
            <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
                    [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
                    [plugins]="lineChartPlugins"></canvas>
        </div>
    </div>

    <br>

    <div class="flex-item">
        <div style="display: block;">
            <span id="periodList">
                <p style="padding-right: 1rem;">Okres: </p>
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let period of periodList"
                        [class.active]="period === selectedPeriod" (click)="onSelectedPeriodChange(period)">
                        {{ period.label }}
                    </li>
                </ul>
            </span>
        </div>
    </div>
    
</div>