<p>Rates</p>

<div style="display: block; width: 400px; height: 400px; padding: 16px">
    <canvas
        baseChart
        width="400"
        height="400"
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
    ></canvas>
</div>

<ng-select
    [items]="listOfCurrencies"
    [(ngModel)]="selectedCurrency"
    [clearable]="false"
    bindLabel="name"
    groupBy="groupCode"
    (change)="onSelectedCurrencyChange($event)"
>
    <ng-template
        ng-notfound-tmp
        let-searchTerm="searchTerm"
    >
        <div class="ng-option disabled">
            No data found for "{{searchTerm}}"
        </div>
    </ng-template>
</ng-select>

<br>
Selected object: {{selectedCurrency | json}}