<p>Rates</p>

<span id="controlId">
    <p>1</p>
    <ng-select
        [items]="listOfCurrencies"
        [(ngModel)]="selectedCurrency"
        [clearable]="false"
        bindLabel="name"
        groupBy="groupCode"
        (change)="onSelectedCurrencyChange($event)"
    >
        <ng-template
            ng-notfound-tmp
            let-searchTerm="searchTerm"
        >
            <div class="ng-option disabled">
                No data found for "{{searchTerm}}"
            </div>
        </ng-template>
    </ng-select>
    <p>kupisz za</p>
    <p> {{ newestRate }}</p>
    <p>PLN</p>
</span>

<!-- <p> Selected object: {{selectedCurrency | json}} </p> -->

<div id="charId">
    <canvas
        baseChart
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
    ></canvas>
</div>

<br>

<span id="controlPeriod">
    <p style="padding-right: 1rem;">Okres: </p>
    <ul class="list-group">
        <li
            class="list-group-item"
            *ngFor="let period of periodList"
            [class.active]="period === selectedPeriod"
            (click)="onSelectedPerion(period)"
        >
            {{ period }}
        </li>
    </ul>
</span>