<p>Calculator</p>

<form>

    <div class="card">
        <h5 class="card-header">Mam</h5>
        <div class="card-body">
            <span id="currenciesDropdownHave">
                <div class="form-group">
                    <input
                        name="amountHaveInput"
                        class="form-control"
                        type="number"
                        [(ngModel)]="amountHave"
                        (input)="onChangedAmountHave()"
                    />
                </div>
                <ng-select
                    name="amountHaveSelect"
                    [items]="listOfCurrencies"
                    [(ngModel)]="selectedCurrencyHave"
                    [clearable]="false"
                    bindLabel="name"
                    groupBy="groupCode"
                    (change)="onSelectedCurrencyChangeHave($event)"
                >
                    <ng-template
                        ng-notfound-tmp
                        let-searchTerm="searchTerm"
                    >
                        <div class="ng-option disabled">
                            No data found for "{{searchTerm}}"
                        </div>
                    </ng-template>
                </ng-select>
            </span>
        </div>
    </div>

    <br>

    <div class="card">
        <h5 class="card-header">Chce</h5>
        <div class="card-body">
            <span id="currenciesDropdownWant">
                <div class="form-group">
                    <input
                        name="amountWantInput"
                        class="form-control"
                        type="number"
                        [(ngModel)]="amountWant"
                        (input)="onChangedAmountWant()"
                    >
                </div>
                <ng-select
                    name="amountWantSelect"
                    [items]="listOfCurrencies"
                    [(ngModel)]="selectedCurrencyWant"
                    [clearable]="false"
                    bindLabel="name"
                    groupBy="groupCode"
                    (change)="onSelectedCurrencyChangeWant($event)"
                >
                    <ng-template
                        ng-notfound-tmp
                        let-searchTerm="searchTerm"
                    >
                        <div class="ng-option disabled">
                            No data found for "{{searchTerm}}"
                        </div>
                    </ng-template>
                </ng-select>
            </span>
        </div>
    </div>

</form>

<br>

<p> {{ amountHave }} {{ selectedCurrencyHave?.code}} = {{ amountWant }} {{ selectedCurrencyWant?.code }}</p>
<p> 1 {{ selectedCurrencyHave?.code }} = {{ conversionRatio | number : '1.2-2' }} {{ selectedCurrencyWant?.code }}</p>
<p> {{ (1 / this.conversionRatio) | number : '1.2-2'}} {{ selectedCurrencyHave?.code }} = 1
    {{ selectedCurrencyWant?.code }}</p>