.ng-select {
    width: 50%;
}

.form-group {
    width: 50%;
}

.form-control {
    height: 35px;
}

#currenciesDropdownHave, #currenciesDropdownWant {
    width: 100%;
}

#currenciesDropdownHave *, #currenciesDropdownWant * {
    display: inline-block;
    padding-right: 1rem;
}