/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    margin: 0;
}

.ng-dropdown-panel {
    width: auto !important;
    max-width: 300px;
}

.ng-select-container {
    width: auto !important;
    min-width: 50px;
    max-width: 300px;
}

/* 
div.ng-select-container {
    width: auto !important;
    max-width: 300px;
} */
